@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<html>
<head>
    <title>sample page</title>
    <h1>WELCOME BACK DEVIN</h1>

</head>



<body>
    <table>
        <tr>
            <td>Line of Text 1</td>
            <td class="button-container">
                <button class="button">Button 1</button>
            </td>
        </tr>
        <tr>
            <td>Line of Text 2</td>
            <td class="button-container">
                <button class="button">Button 2</button>
            </td>
        </tr>
        <tr>
            <td>Line of Text 3</td>
            <td class="button-container">
                <button class="button">Button 3</button>
            </td>
        </tr>
       
    </table>



</body>
</html>