@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        color: #333;
    }

    
    h1{
        color: crimson
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }

    th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    tr:hover {
        background-color: #f2f2f2;
    }

    .button-container {
        text-align: center;
    }

    .button {
        padding: 8px 16px;
        background-color: darkred;
        color: white;
        border: none;
        cursor: pointer;
    }

        .button:hover {
            background-color: deeppink;
        }

</style>

<html>
<head>
    <title>sample page</title>
    <h1>WELCOME BACK DEVIN</h1>

</head>



<body>
    <table>
        <tr>
            <td> Received 7 new applications today</td>
            <td class="button-container">
                <button class="button"> View</button>
            </td>
        </tr>
        <tr>
            <td> 3 Applications remaining to be process</td>
            <td class="button-container">
                <button class="button">View</button>
            </td>
        </tr>
        <tr>
            <td>There are 4 currerntly of applcation pending placement stage</td>
            <td class="button-container">
                <button class="button">View</button>
            </td>
        </tr>
       
    </table>



</body>
</html>