@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>

    h2 {
        color: darkred;
        font-size: 1.8em;
    }

    button {
       backround color: darkred;
        display: block; 
        margin-top: 10px; 
    }




</style>
<html>
   
<head>
    <title>sample page</title>
    <h1>Report Submission Form</h1>
</head>
<body>


    <h2>What have you accomplish since last Sprint </h2>
    <input type="text" id="lastscrum" name="lastscrum">

    <h2>What will you accompish next sprint</h2>
    <input type="text" id="nextscrum" name="nextscrum">

    <h2>What Challenges did you face</h2>
    <input type="text" id="Challenge" name="Challenge">

    <button> Submit</button>


</body>
</html>